# Plantilla de Variables de Entorno
BANXICO_API_TOKEN=tu_token_generado_de_banxico
BANXICO_API_URL=https://www.banxico.org.mx/SieAPIRest/service/v1/series
BANXICO_SERIES_USD=SF57805
BANXICO_SERIES_EUR=SF46410
BANXICO_API_ENABLED=true
