# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
/out/

# Eclipse
.metadata
.classpath
.project
.settings/
*.launch

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Log files
*.log

# Environment variables & secrets
.env
.env.local
.env.*.local

# Temporary build scripts / argfiles
compile_*.txt
